#login-form label {
    color: #040c21
}

.container_login_motorista,
.container_login_pass {
    margin-top: 4rem;
    background-color: #f8f9fa;
    width: 100%;
    max-width: 25rem;
    border-radius: .5rem;
    margin-left: auto;
    margin-right: auto
}

/* Adicione isso ao seu arquivo CSS ou no estilo no próprio HTML */
.container-estreito {
    max-width: 800px; /* ou a largura desejada em pixels ou qualquer outra unidade */
    margin: 0 auto; /* centralizar o container */
}
.container-menu {
    max-width: 800px; /* ou a largura desejada em pixels ou qualquer outra unidade */
    margin: 0 auto; /* centralizar o container */
}

.container_login_motorista p,
.container_login_pass p {
    font-size: 40px;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
    font-family: Roboto, Arial, sans-serif
}

.botao_login_motorista,
.botao_login_pass {
    text-align: center;
    margin-top: 20px
}

.botao-login {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s;
    transform: scale(1)
}

.botao-login:hover {
    background-color: #882121;
    transform: scale(1.05)
}

div#inputPass input,
div#pass input,
div#tel input {
    width: 200px
}

div#inputEmail input {
    width: 400px
}

form#login button {
    position: absolute;
    top: auto;
    left: 320px
}

h3 {
    display: none
}
