section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex
}

.slider-content img {
    max-width: 1300px;
    width: 80%
}

.slider-content input {
    display: none
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s
}

.nav-auto,
.nav-manual {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center
}

.nav-auto div,
.nav-manual .manual-btn {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s
}

.nav-auto div:not(:last-child),
.nav-manual .manual-btn:not(:last-child) {
    margin-right: 10px
}

#radio1:checked~.nav-auto .auto-btn1,
#radio2:checked~.nav-auto .auto-btn2,
#radio3:checked~.nav-auto .auto-btn3,
.nav-manual .manual-btn:hover {
    background-color: #00f
}

#radio1:checked~.primeiro {
    margin-left: 0
}

#radio2:checked~.primeiro {
    margin-left: -25%
}

#radio3:checked~.primeiro {
    margin-left: -50%
}
