h2,
h3 {
    margin-left: -30px;
    margin-bottom: 50px
}

#fraseunica,
h2,
h3 {
    font-size: 40px;
    text-align: center
}

#fraseunica,
.button,
h3 {
    font-family: Roboto;
    color: #000000
}

#fraseunica,
.banner,
h2,
h3,
h4 {
    text-align: center
}

.container_boasvindas {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}


h2 {
    color: #040c21;
    font-family: Roboto
}

h3 {
    margin-top: 10%
}

h4 {
    font-family: Roboto
}

body {
    background-color: #040c21
}

form#buscador input {
    width: 400px
}

form#buscador button {
    position: absolute;
    top: auto;
    left: 328px
}

.banner {
    background: url("../img/Editado Banner.png") center/contain no-repeat;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%
}

.button {
    transform: translateX(-50%);
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 25px;
    background: #c2800d;
    position: absolute;
    margin-top: 15%;
    left: 50%;
    border-radius: 15px
}

.botao:hover {
    background: #0024ad;
    transition: .7s;
    color: red;
    box-shadow: 1px 1px 1px
}

.navbar {
    border-radius: 25px
}

.navbar .nav-link {
    transition: color .2s ease-in-out;
    color: #000;
    position: relative;
    font-size: 18px
}

#logobar {
    width: 75px
}

.navbar .nav-link:hover {
    color: #007bff;
    text-decoration: underline
}

.navbar .nav-link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #007bff;
    visibility: hidden;
    transform: scaleX(0);
    transition: .2s ease-in-out
}

#fraseunica {
    padding: 20px
}

.navbar ul {
    border: none
}

.navbar ul li {
    position: relative;
    padding: 5px;
    float: left
}

.navbar .dropdown-menu {
    background-color: #f8f9fa
}

.navbar ul li a:focus,
.navbar ul li a:hover {
    background-color: #e5e5e5
}

/* Estilizar os itens da lista de sugestões para origem e destino */
#autocompleteOrigem .autocomplete-result-list li {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    list-style: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
}

#autocompleteDestino .autocomplete-result-list li {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    list-style: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
}

#autocompleteOrigem .autocomplete-result-list li:hover {
    background-color: lightgray;
}

#autocompleteDestino .autocomplete-result-list li:hover {
    background-color: lightgray;
}