section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content img {
    max-width: 1300px;
    width: 100%;
}

.slider-content input {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.nav-manual,
.nav-auto {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn,
.nav-auto div {
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: blue;
}

#radio1:checked~.nav-auto .auto-btn1,
#radio2:checked~.nav-auto .auto-btn2,
#radio3:checked~.nav-auto .auto-btn3 {
    background-color: blue;
}

#radio1:checked~.primeiro {
    margin-left: 0%;
}

#radio2:checked~.primeiro {
    margin-left: -25%;
}

#radio3:checked~.primeiro {
    margin-left: -50%;
}