{% extends 'menu.html' %}
{% load static %}

{% block title %}Cadastro de Motoristas{% endblock %}
{% block body %}
{% block h3 %}{% endblock %}
<div class="container_cad_motorista">
    <div class="text-center">
        <h1 class="texto">Cadastro de Motoristas</h1>
        <form class="row gy-2 gx-3 align-items-center" method="POST" action="{% url 'cadastro_motorista' %}" id="cadastroForm">
            {% csrf_token %}
            <span class="form-text cadastro-informativo">*: Obrigatório.</span>
            <div class="form-buttons">
                <button type="button" class="btn btn-info" id="principalBtn">Principal</button>
                <button type="button" class="btn btn-info" id="motoristaBtn">Motorista</button>
                <button type="button" class="btn btn-info" id="enderecoBtn">Endereço</button>
                <button type="button" class="btn btn-info" id="credenciaisBtn">Credenciais</button>
            </div>
            <div class="form-section" id="principal">
                <div class="col-md-12">
                    <label for="nome_completo" class="form-label">Nome Completo:<span class="form-text cadastro-informativo">*</span></label>
                    <div class="col-11 mx-auto">
                        <input type="text" class="form-control" id="nome_completo" name="nome_completo" placeholder="Samuel Caetano Pinheiro" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="nome_preferencia" class="form-label">Apelido:</label>
                    <div class="col-11 mx-auto">
                        <input type="text" class="form-control" id="nome_preferencia" name="nome_preferencia" placeholder="Samuel">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="cpf" class="form-label">CPF:<span class="form-text cadastro-informativo">*</span></label>
                        <div class="col-10 mx-auto">
                            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="420.654.000-56" required onblur="validarCPF()">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="telefone" class="form-label">Contato:<span class="form-text cadastro-informativo">*</span></label>
                        <div class="col-10 mx-auto">
                            <input type="tel" class="form-control formatted-input" id="telefone" name="telefone" placeholder="(XX) XXXXX-XXXX" required pattern="\([0-9]{2}\) [0-9]{5}-[0-9]{4}" onblur="validarTelefone()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-section" id="motorista">
                <div class="row">
                    <div class="col-md-6">
                        <label for="cnh" class="form-label">CNH:<span class="form-text cadastro-informativo">*</span></label>
                        <div class="col-10 mx-auto">
                            <input type="text" class="form-control" id="cnh" name="cnh" placeholder="25050892085" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="placa" class="form-label">Placa:<span class="form-text cadastro-informativo">*</span></label>
                        <div class="col-10 mx-auto">
                            <input type="text" class="form-control formatted-input" id="placa" name="placa" placeholder="DBZ-2021" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="renavam" class="form-label">Renavam:<span class="form-text cadastro-informativo">*</span></label>
                        <div class="col-10 mx-auto">
                            <input type="text" class="form-control" id="renavam" name="renavam" placeholder="00123456789" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="chassi" class="form-label">Chassi:<span class="form-text cadastro-informativo">*</span></label>
                        <div class="col-10 mx-auto">
                            <input type="text" class="form-control" id="chassi" name="chassi" placeholder="BKA2J8E8JK241DG7Q" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-section" id="endereco">
                <div class="row">
                    <div class="col-md-4">
                        <label for="cep" class="form-label">CEP:<span class="form-text cadastro-informativo">*</span></label>
                        <div class="col-11 mx-auto">
                            <input type="text" class="form-control formatted-input" id="cep" name="cep" placeholder="68703-070" required pattern="\d{5}-\d{3}">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <label for="logradouro" class="form-label">Logradouro:<span class="form-text cadastro-informativo">*</span></label>
                        <div class="col-11 mx-auto">
                            <input type="text" class="form-control" id="logradouro" name="logradouro" placeholder="AV. Brasil" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="numero_residencia" class="form-label">Nº:<span class="form-text cadastro-informativo">*</span></label>
                        <div class="col-10 mx-auto">
                            <input type="text" class="form-control" id="numero_residencia" name="numero_residencia" placeholder="300" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="bairro" class="form-label">Bairro:<span class="form-text cadastro-informativo">*</span></label>
                        <div class="col-12 mx-auto">
                            <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Centro" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="cidade" class="form-label">Cidade:<span class="form-text cadastro-informativo">*</span></label>
                        <div class="col-12 mx-auto">
                            <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Belém" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="estado" class="form-label">UF:<span class="form-text cadastro-informativo">*</span></label>
                        <div class="col-9 mx-auto">
                            <input type="text" class="form-control" id="estado" name="estado" placeholder="RJ" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-section" id="credenciais">
                <div class="row">
                    <div class="col-md-6">
                        <label for="username" class="form-label">Nome de Usuário:<span class="form-text cadastro-informativo">*</span></label>
                        <div class="col-10 mx-auto">
                            <input type="text" class="form-control" id="username" name="username" placeholder="joaopaulo456" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email:<span class="form-text cadastro-informativo">*</span></label>
                        <div class="col-10 mx-auto">
                            <input type="email" class="form-control" id="email" name="email" placeholder="caetano.sam@gmail.com" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="password" class="form-label">Senha:<span class="form-text cadastro-informativo">*</span></label>
                        <div class="col-10 mx-auto">
                            <input type="password" class="form-control" id="password" name="senha" required title="Deve possuir 8 - 20 caracteres!">
                        </div>
                        </div>

                    <div class="col-md-6">
                        <label for="confirmar_senha" class="form-label">Confirmar senha:<span class="form-text cadastro-informativo">*</span></label>
                        <div class="col-10 mx-auto">
                            <input type="password" class="form-control" id="confirmar_senha" name="confirmar_senha" required pattern=".{8,20}" title="Insira a mesma senha." onblur="validarSenhas()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-9 mx-auto">
                    <div class="form-check d-flex align-items-center justify-content-center">
                        <input class="form-check-input" type="checkbox" id="autoSizingCheck" required>
                        <label class="form-check-label ml-3 text-center" for="autoSizingCheck">
                            Li e concordo com os <a href="{% url 'termos' %}" target="_blank">termos de uso e política de privacidade</a>.
                        </label>
                    </div>
                </div>
            </div>            
            <div class="col-auto mx-auto">
                <button type="submit" id="cadastrarBtn" class="botao-login btn btn-primary" data-bs-toggle="modal" data-bs-target="#loadingModal" disabled>
                    Cadastrar
                </button>
            </div>
            <div class="modal fade" id="loadingModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Carregando...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function verificarCamposPreenchidos() {
        const nomeCompleto = document.getElementById('nome_completo').value;
        const cpf = document.getElementById('cpf').value;
        const telefone = document.getElementById('telefone').value;
        const cnh = document.getElementById('cnh').value;
        const placa = document.getElementById('placa').value;
        const renavam = document.getElementById('renavam').value;
        const chassi = document.getElementById('chassi').value;
        const cep = document.getElementById('cep').value;
        const logradouro = document.getElementById('logradouro').value;
        const numeroResidencia = document.getElementById('numero_residencia').value;
        const bairro = document.getElementById('bairro').value;
        const cidade = document.getElementById('cidade').value;
        const estado = document.getElementById('estado').value;
        const username = document.getElementById('username').value;
        const email = document.getElementById('email').value;
        const senha = document.getElementById('password').value;
        const confirmarSenha = document.getElementById('confirmar_senha').value;
        const concordouTermos = document.getElementById('autoSizingCheck').checked;

        const botaoCadastrar = document.getElementById('cadastrarBtn');
        
        if (
            nomeCompleto &&
            cpf &&
            telefone &&
            cnh &&
            placa &&
            renavam &&
            chassi &&
            cep &&
            logradouro &&
            numeroResidencia &&
            bairro &&
            cidade &&
            estado &&
            username &&
            email &&
            senha &&
            confirmarSenha &&
            concordouTermos
        ) {
            botaoCadastrar.disabled = false;
        } else {
            botaoCadastrar.disabled = true;
        }
    }

    const campos = document.querySelectorAll('input[required], select');
    campos.forEach(campo => {
        campo.addEventListener('input', verificarCamposPreenchidos);
    });

    // Function to hide all form sections except the principal section
    function hideAllSections() {
        const sections = document.querySelectorAll('.form-section');
        sections.forEach(section => {
            section.style.display = 'none';
        });
    }

    // Show the principal section initially
    document.addEventListener('DOMContentLoaded', () => {
        hideAllSections();
        document.getElementById('principal').style.display = 'block';
        updateButtonStyle(principalBtn, motoristaBtn, enderecoBtn, credenciaisBtn);
    });

    // Toggle visibility on button click
    const principalBtn = document.getElementById('principalBtn');
    const motoristaBtn = document.getElementById('motoristaBtn');
    const enderecoBtn = document.getElementById('enderecoBtn');
    const credenciaisBtn = document.getElementById('credenciaisBtn');

    principalBtn.addEventListener('click', () => {
        showSection('principal');
        updateButtonStyle(principalBtn, motoristaBtn, enderecoBtn, credenciaisBtn);
    });

    motoristaBtn.addEventListener('click', () => {
        showSection('motorista');
        updateButtonStyle(motoristaBtn, principalBtn, enderecoBtn, credenciaisBtn);
    });

    enderecoBtn.addEventListener('click', () => {
        showSection('endereco');
        updateButtonStyle(enderecoBtn, principalBtn, motoristaBtn, credenciaisBtn);
    });

    credenciaisBtn.addEventListener('click', () => {
        showSection('credenciais');
        updateButtonStyle(credenciaisBtn, principalBtn, motoristaBtn, enderecoBtn);
    });

    function showSection(sectionId) {
        hideAllSections();
        const sectionToShow = document.getElementById(sectionId);
        if (sectionToShow) {
            sectionToShow.style.display = 'block';
        }
    }

    // Função para adicionar classe ativa e alterar a cor dos botões
    function updateButtonStyle(activeBtn, btn1, btn2, btn3) {
        activeBtn.classList.add('btn-ativo');
        activeBtn.classList.remove('btn-inativo');
        btn1.classList.remove('btn-ativo', 'btn-inativo');
        btn2.classList.remove('btn-ativo', 'btn-inativo');
        btn3.classList.remove('btn-ativo', 'btn-inativo');
    }
    document.addEventListener('DOMContentLoaded', function() {
        // Obtém os elementos de entrada de CPF e Contato
        var cpfInput = document.getElementById('cpf');
        var telefoneInput = document.getElementById('telefone');

        // Adiciona ouvintes de eventos para monitorar mudanças e a perda de foco nos campos
        cpfInput.addEventListener('input', formatarInput);
        cpfInput.addEventListener('blur', formatarInput);

        telefoneInput.addEventListener('input', formatarTelefone);
        telefoneInput.addEventListener('blur', formatarTelefone);

        var placaInput = document.getElementById('placa');

        // Adiciona ouvintes de eventos para monitorar mudanças e a perda de foco no campo de placa
        placaInput.addEventListener('input', formatarPlaca);
        placaInput.addEventListener('blur', formatarPlaca);

        var cepInput = document.getElementById('cep');

        // Adiciona ouvintes de eventos para monitorar mudanças e a perda de foco no campo de CEP
        cepInput.addEventListener('input', formatarCEP);
        cepInput.addEventListener('blur', formatarCEP);

        // Função para formatar os campos de entrada
        function formatarInput(event) {
            // Obtém o valor atual do campo de entrada
            var inputValue = event.target.value;

            // Remove todos os caracteres não numéricos
            var inputNumerico = inputValue.replace(/\D/g, '');

            // Adiciona a formatação desejada (CPF) apenas se houver 11 números
            var inputFormatado;
            if (inputNumerico.length === 11) {
                inputFormatado = inputNumerico.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
            } else {
                // Se o comprimento não for 11, use o valor original
                inputFormatado = inputValue;
            }

            // Define o valor formatado de volta no campo de entrada
            event.target.value = inputFormatado;

            // Adiciona uma classe ao campo para aplicar estilos
            event.target.classList.add('formatted-input');
        }

        // Função específica para formatar o telefone no padrão desejado
        function formatarTelefone(event) {
            // Obtém o valor atual do campo de telefone
            var telefoneValue = event.target.value;

            // Remove todos os caracteres não numéricos
            var telefoneNumerico = telefoneValue.replace(/\D/g, '');

            // Adiciona a formatação desejada para o telefone
            var telefoneFormatado = telefoneNumerico.replace(/(\d{2})(\d{5})(\d{4})/, '($1) $2-$3');

            // Define o valor formatado de volta no campo de telefone
            event.target.value = telefoneFormatado;

            // Adiciona uma classe ao campo para aplicar estilos
            event.target.classList.add('formatted-input');
        }
        // Função para formatar a placa e converter letras para maiúsculas
        function formatarPlaca(event) {
            // Obtém o valor atual do campo de placa
            var placaValue = event.target.value;

            // Remove caracteres não alfanuméricos e converte para maiúsculas
            var placaFormatada = placaValue.replace(/[^a-zA-Z0-9]/g, '').toUpperCase();

            // Adiciona a formatação desejada para a placa
            if (placaFormatada.length >= 3) {
                placaFormatada = placaFormatada.replace(/([a-zA-Z]{3})([0-9]{0,4})/, '$1-$2');
            }

            // Define o valor formatado de volta no campo de placa
            event.target.value = placaFormatada;

            // Adiciona uma classe ao campo para aplicar estilos
            event.target.classList.add('formatted-input');
        }

        // Função para formatar o CEP
        function formatarCEP(event) {
            // Obtém o valor atual do campo de CEP
            var cepValue = event.target.value;

            // Remove caracteres não numéricos
            var cepNumerico = cepValue.replace(/\D/g, '');

            // Adiciona a formatação desejada para o CEP
            var cepFormatado = cepNumerico.replace(/(\d{5})(\d{3})/, '$1-$2');

            // Define o valor formatado de volta no campo de CEP
            event.target.value = cepFormatado;

            // Adiciona uma classe ao campo para aplicar estilos
            event.target.classList.add('formatted-input');
        }
    });
</script>
{% endblock %}
