{% extends 'pagina_motorista.html' %}
{% load static %}
{% block title %}Cadastrar Rota{% endblock %}

<!-- Aparentemente apenas vai mudar o formatado da lista -->
<!-- {% block head %}
<link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" />
{% endblock %} -->
<style>
    .modal.vibrate {
        animation: vibrate 1s;
    }

    @keyframes vibrate {
        0% { transform: translateX(0); }
        20% { transform: translateX(-10px); }
        40% { transform: translateX(10px); }
        60% { transform: translateX(-10px); }
        80% { transform: translateX(10px); }
        100% { transform: translateX(0); }
    }
</style>
{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center text-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-light text-center">
                    <h4>CADASTRAR ROTA</h4>
                </div>
                
                <div class="card-body bg-light">
                    <form class="row gy-2 gx-3 align-items-center" method="POST" enctype="multipart/form-data" novalidate required>
                        {% csrf_token %}
                        <span class="form-text cadastro-informativo">*: Obrigatório. <br> Atenção: Em viagens de volta,
                            cadastre uma nova rota!</span>
                        <div id="autocompleteOrigem" class="col-md-6">
                            <label for="origem" class="form-label">Origem:<span
                                    class="form-text cadastro-informativo">*</span></label>
                            <div class="col-11 mx-auto">
                                <input type="text" class="form-control" id="getorigem" name="origem"
                                    value="{{ rota.origem }}" required placeholder="Capitão Poço, Pará, Brasil">
                                <ul class="autocomplete-result-list"></ul>
                            </div>
                        </div>
                        <div id="autocompleteDestino" class="col-md-6">
                            <label for="destino" class="form-label">Destino:<span
                                    class="form-text cadastro-informativo">*</span></label>
                            <div class="col-11 mx-auto">
                                <input type="text" class="form-control" id="getdestination" name="destino"
                                    value="{{ rota.destino }}" required placeholder="Capanema, Pará, Brasil">
                                <ul class="autocomplete-result-list"></ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="preco" class="form-label">Preço:<span
                                    class="form-text cadastro-informativo">*</span></label>
                            <div class="col-12 mx-auto">
                                <input type="number" class="form-control" id="preco" name="preco"
                                    value="{{ rota.preco }}" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="horario_ida" class="form-label">Horário de Ida:<span
                                    class="form-text cadastro-informativo">*</span></label>
                            <div class="col-10 mx-auto">
                                <input type="time" class="form-control" id="horario_ida" name="horario_ida"
                                    value="{{ rota.horario_ida|time }}" required>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label for="tipo_veiculo" class="form-label">Tipo de Veículo:<span class="form-text cadastro-informativo">*</span></label>
                            <div class="col-10 text-start">
                                <select class="form-control" name="tipo_veiculo" id="tipo_veiculo" required>
                                    <option value="Táxi">Táxi</option>
                                    <option value="Van">Van</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="{{ form.dias_semana.id_for_label }}" class="form-label">Dias da semana:<span
                                    class="form-text cadastro-informativo">*</span></label>
                            <div class="col-10 text-start">
                                {% for choice in form.dias_semana %}
                                <div class="form-check">
                                    {{ choice }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'lista_rotas' %}" class="botao-cancelarcadastrar btn btn-secondary">Cancelar</a>--
                            <button type="button" class="botao-cadastrarrota btn btn-primary ml-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" disabled>Cadastrar</button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmação!</h1>
                                    </div>
                                    <div class="modal-body">
                                        <p>Você confirma a INCLUSÃO DA ROTA?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loadingModal">Sim</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>        
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        const submitButton = document.querySelector('.botao-cadastrarrota');

        function checkRequiredFields() {
            // Verifique se pelo menos um checkbox está marcado.
            const isAtLeastOneCheckboxChecked = [...checkboxes].some(checkbox => checkbox.checked);
            
            // Verifique se os campos obrigatórios estão preenchidos.
            const isRequiredFieldsFilled = form.origem.value.trim() !== '' && 
                                          form.destino.value.trim() !== '' &&
                                          form.preco.value.trim() !== '' &&
                                          form.horario_ida.value.trim() !== '' &&
                                          form.tipo_veiculo.value.trim() !== '';
            
            return isAtLeastOneCheckboxChecked && isRequiredFieldsFilled;
        }

        // Adicione um evento change aos checkboxes e campos obrigatórios.
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', updateSubmitButton);
        });
        form.origem.addEventListener('input', updateSubmitButton);
        form.destino.addEventListener('input', updateSubmitButton);
        form.preco.addEventListener('input', updateSubmitButton);
        form.horario_ida.addEventListener('input', updateSubmitButton);
        form.tipo_veiculo.addEventListener('input', updateSubmitButton);

        // Verifique o estado dos campos e checkboxes quando o formulário for carregado.
        updateSubmitButton();

        function updateSubmitButton() {
            const isFormValid = checkRequiredFields();
            submitButton.disabled = !isFormValid;
        }
    });
</script>

{% endblock %}