{% extends 'pagina_motorista.html' %}
{% load static %}

{% block title %}Cadastrar Rota{% endblock %}

{% block body %}

<div class="caixa-formulario-atualizar-rota">
    <div class="container mt-4 bg-light">
        <h4>CADASTRO DE ROTAS</h4>
        <form method="POST">
            {% csrf_token %}
            <div class="col-md-4">
                <label for="origem" class="form-label">Origem:</label>
                <input type="text" class="form-control" id="origem" name="origem" value="{{ rota.origem }}">
            </div>
            <div class="col-md-4">
                <label for="destino" class="form-label">Destino:</label>
                <input type="text" class="form-control" id="destino" name="destino" value="{{ rota.destino }}">
            </div>
            <div class="col-md-4">
                <label for="preco" class="form-label">Preço:</label>
                <input type="number" class="form-control" id="preco" name="preco" value="{{ rota.preco }}">
            </div>
            <div class="col-md-4">
                <label for="horario_ida" class="form-label">Horário de Ida:</label>
                <input type="datetime-local" class="form-control" id="horario_ida" name="horario_ida" value="{{ rota.horario_ida }}">
            </div>
            <div class="col-md-4">
                <label for="horario_volta" class="form-label">Horário de Volta:</label>
                <input type="datetime-local" class="form-control" id="horario_volta" name="horario_volta" value="{{ rota.horario_volta }}">
            </div>
            <div class="col-md-4">
                <label for="{{ form.dias_semana.id_for_label }}" class="form-label">Dias da semana:</label>
                {% for choice in form.dias_semana %}
                <div class="form-check">
                    {{ choice }}
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
