{% extends 'pagina_motorista.html' %}
{% load static %}
{% block title %}Cadastrar Rota{% endblock %}

<!-- Aparentemente apenas vai mudar o formatado da lista -->
<!-- {% block head %}
<link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" />
{% endblock %} -->

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center text-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-light text-center">
                    <h4>CADASTRAR ROTA</h4>
                </div>
                <div class="card-body bg-light">
                    <form class="row gy-2 gx-3 align-items-center" method="POST" enctype="multipart/form-data"
                        novalidate required>
                        {% csrf_token %}
                        <span class="form-text cadastro-informativo">*: Obrigatório. <br> Atenção: Em viagens de volta,
                            cadastre uma nova rota!</span>
                        <div id="autocompleteOrigem" class="col-md-4">
                            <label for="origem" class="form-label">Origem:<span
                                    class="form-text cadastro-informativo">*</span></label>
                            <div class="col-10 mx-auto">
                                <input type="text" class="form-control" id="getorigem" name="origem"
                                    value="{{ rota.origem }}" required placeholder="Capitão Poço Pará">
                                <ul class="autocomplete-result-list"></ul>
                            </div>
                        </div>
                        <div id="autocompleteDestino" class="col-md-4">
                            <label for="destino" class="form-label">Destino:<span
                                    class="form-text cadastro-informativo">*</span></label>
                            <div class="col-10 mx-auto">
                                <input type="text" class="form-control" id="getdestination" name="destino"
                                    value="{{ rota.destino }}" required placeholder="Capanema Pará">
                                <ul class="autocomplete-result-list"></ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="preco" class="form-label">Preço:<span
                                    class="form-text cadastro-informativo">*</span></label>
                            <div class="col-10 mx-auto">
                                <input type="number" class="form-control" id="preco" name="preco"
                                    value="{{ rota.preco }}" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="horario_ida" class="form-label">Horário de Ida:<span
                                    class="form-text cadastro-informativo">*</span></label>
                            <div class="col-10 mx-auto">
                                <input type="time" class="form-control" id="horario_ida" name="horario_ida"
                                    value="{{ rota.horario_ida|time }}" required>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label for="tipo_veiculo" class="form-label">Tipo de Veículo:<span
                                    class="form-text cadastro-informativo">*</span></label>
                            <div class="col-10 text-start">
                                <input type="text" class="form-control" name="tipo_veiculo" id="tipo_veiculo" required>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label for="{{ form.dias_semana.id_for_label }}" class="form-label">Dias da semana:<span
                                    class="form-text cadastro-informativo">*</span></label>
                            <div class="col-10 text-start">
                                {% for choice in form.dias_semana %}
                                <div class="form-check">
                                    {{ choice }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'lista_rotas' %}"
                                class="botao-cancelarcadastrar btn btn-secondary">Cancelar</a>--
                            <button type="submit" class="botao-cadastrarrota btn btn-primary ml-2">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


<!-- <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script> -->
<!-- <script>
    const mytoken = "pk.eyJ1IjoicnVhbm1vcmFlczAxOCIsImEiOiJjbGxvM2prZGgwNWl1M2VrdTlwdmkwbGFlIn0.9PbfTFPMl2qRGr8Zx31j3Q";
    const MAPBOX_BASE = 'https://api.mapbox.com/geocoding/v5/mapbox.places/';

    // Autocomplete para Origem
    new Autocomplete('#autocompleteOrigem', {
        search: input => {
            const url = `${MAPBOX_BASE}${encodeURIComponent(input)}.json?access_token=${mytoken}&limit=5&language=pt-BR`;
            return new Promise(resolve => {
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        resolve(data.features)
                    })
            })
        },
        renderResult: (result, props) => {
            result = result.place_name;
            let group = '';
            if (result.index % 3 === 0) {
                group = `<li class="group">Group</li>`
            }
            return `
        ${group}
        <li ${props}>
            <div class="wiki-title">
                ${result}
            </div>
        </li>
        `
        },
        getResultValue: result => result.place_name,
        onSubmit: result => {
            console.log("Origem latitude", result.geometry.coordinates[0])
            console.log("Origem longtitude", result.geometry.coordinates[1])
            console.log("Origem Place Name", result.place_name)
        }
    });

    // Autocomplete para Destino
    new Autocomplete('#autocompleteDestino', {
        search: input => {
            const url = `${MAPBOX_BASE}${encodeURIComponent(input)}.json?access_token=${mytoken}&limit=5&language=pt-BR`;
            return new Promise(resolve => {
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        resolve(data.features)
                    })
            })
        },
        renderResult: (result, props) => {
            result = result.place_name;
            let group = '';
            if (result.index % 3 === 0) {
                group = `<li class="group">Group</li>`
            }
            return `
        ${group}
        <li ${props}>
            <div class="wiki-title">
                ${result}
            </div>
        </li>
        `
        },
        getResultValue: result => result.place_name,
        onSubmit: result => {
            console.log("Destino latitude", result.geometry.coordinates[0])
            console.log("Destino longtitude", result.geometry.coordinates[1])
            console.log("Destino Place Name", result.place_name)
        }
    });
</script> -->