{% extends 'pagina_motorista.html' %}
{% block title %}Deletar Rota{% endblock %}
{% block body %}
<div class="caixa-formulario-deletar-rota">
  <div class="container mt-4 bg-light col-md-4 offset-md-4 rounded">
    <form method="post">
      {% csrf_token %}
      <h1 class="text-center"><u>Deletar Rota</u></h1>
      <p>Você está prestes a deletar a rota: <br>
        Título: <strong>{{ rota.origem }} - {{ rota.destino }}</strong> <br>
        Ida: <strong>{{ rota.horario_ida }}</strong> <br>
        Volta: <strong>{{ rota.horario_volta }}</strong> <br>
        Preço: <strong>{{ rota.preco }}</strong> <br>
        Dias da semana: 
        <strong>
          {% for dia in rota.dias_semana.all %}
            {% for choice in dia.DIAS_SEMANA_CHOICES %}
              {% if choice.0 == dia.nome %}
                {{ choice.1 }}{% if not forloop.last %}, {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}.
        </strong>
        <br><br>
        Tem certeza que deseja deletar esta rota?
      </p>
      <a href="{% url 'lista_rotas' %}" class="botao-dellcancell btn btn-secondary">Cancelar</a>
      <button type="submit" name="confirmar" class="botao-dellrota btn btn-danger">Confirmar</button>
    </form>
  </div>
</div>
{% endblock %}