<!doctype html>
{% extends 'base.html' %}
{% load static %}
<html lang="pt-BR">
    {% block title %}Página Inicial{% endblock %}
{% block body %}
   <div class="banner" id="banner">
       <div class="container pt-5">
           <div class="row">
               <div class="col-lg-4 col-md-6 align-self-center mb-md-0 mb-4">
                   <h2>Amplie seu alcance com <br>TokenTravel</h2>
                   <a href="menu" class="button btn btn-primary button-primary d-md-inline-block d-block mb-md-0 mb-2 mr-md-2">
                       Clique aqui!
                   </a>
               </div>
           </div>
       </div>
   </div>
{% endblock %}
</html>
