{% extends 'base.html' %}
{% load static %}
{% block title %}Página Inicial{% endblock %}
{% block body %}
<div class="banner">
    <header class="header">
        <h1>Amplie seu alcance com TokenTravel</h1>
    </header>
    <main class="main">
        <div class="credit">
            <a href="{% url 'menu' %}" class="button btn btn-primary button-primary d-md-inline-block d-block mb-md-0 mb-2 mr-md-2">
                Clique aqui!
            </a>
        </div>
    </main>
    <footer class="footer">
        <address>
            Criação e Desenvolvimento: <a href="mailto:lucas.souza5294@gmail.com">Lucas Souza</a> &copy; 2023
            <a href="mailto:ruanmoraes012@gmail.com">Ruan Moraes</a> &copy; 2023
        </address>
    </footer>
</div>
{% endblock %}