{% extends 'pagina_motorista.html' %}
{% load static %}
{% block title %}Menu Rotas{% endblock %}
{% block body %}
<div class="container mt-4 bg-white rounded">
    <h3 class="mb-4">Minhas Rotas</h3>
    {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <div class="d-flex justify-content-between align-items-center">
                <div class="message-content">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Fechar">
                </button>
            </div>
            <div class="progress" style="height: 4px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Origem
                </th>
                <th scope="col">
                    Destino
                </th>
                <th scope="col">
                    Preço
                </th>
                <th scope="col">
                    Ida
                </th>
                <th scope="col">
                    Tipo do veículo
                </th>
            </tr>
        </thead>
        <tbody>
            {% for rota in rotas %}
            <tr>
                <td>
                    {{ rota.origem }}
                </td>
                <td>
                    {{ rota.destino }}
                </td>
                <td>
                    {{ rota.preco }}
                </td>
                <td>
                    {{ rota.horario_ida }}
                </td>
                <td>
                    {{ rota.tipo_veiculo }}
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <strong>Dias da Semana:</strong>
                    {% for dia in rota.dias_semana.all %}
                    {% for choice in dia.DIAS_SEMANA_CHOICES %}
                    {% if choice.0 == dia.nome %}
                    {{ choice.1 }}{% if not forloop.last %}, {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <br>
                    <strong>Ações:</strong>
                    <a href="{% url 'atualizar_rota' id=rota.id %}">
                        <button type="button" class="acao_editar btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#exampleModal2" data-bs-whatever="@mdo">
                            Editar
                        </button>
                    </a>
                    <a href="{% url 'deletar_rota' id=rota.id %}">
                        <button type="button" class="acao_dell btn btn-danger" data-toggle="modal"
                            data-target="#confirmarDelecao" data-rota="{{ rota.id }}">
                            Deletar
                        </button>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="bg-white">
                    Nenhuma rota cadastrada.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <a href="{% url 'criar_rota' %}">
            <button type="button" class="btn btn-primary botao-personalizado" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Cadastrar Rotas</button>
        </a>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Seletor para o alerta.
        var alert = document.querySelector('.alert');

        // Seletor para a barra de progresso.
        var progressBar = document.querySelector('.progress-bar');

        // Define o tempo em milissegundos (5 segundos).
        var tempoExibicao = 5000;

        // Função para diminuir a barra de progresso durante o tempo de exibição.
        var diminuirProgresso = function () {
            var inicio = new Date().getTime();
            var intervalo = 100; // Intervalo de atualização da barra de progresso (100ms).

            var animacao = function () {
                var agora = new Date().getTime();
                var decorrido = agora - inicio;
                var progresso = 100 - (decorrido / tempoExibicao) * 100;
                progressBar.style.width = progresso + '%';

                if (progresso > -10) {
                    requestAnimationFrame(animacao);
                } else {
                    // Quando o progresso atingir -25%, feche o alert.
                    alert.style.display = 'none';
                }
            };

            animacao();
        };

        diminuirProgresso();
    });

    document.addEventListener('DOMContentLoaded', function () {
        // ... (código anterior)

        var tempoExibicaoModal = 3000; // 10 segundos em milissegundos

        // Função para fechar o modal após o tempo de exibição.
        var fecharModal = function () {
            $('#loadingModal').modal('hide');
        };

        // Inicie o temporizador para fechar o modal após o tempo especificado.
        setTimeout(fecharModal, tempoExibicaoModal);
    });
</script>
{% endblock %}