{% extends 'menu.html' %}
{% load static %}
{% block title %}Login - Passageiro{% endblock %}
{% block h3 %}{% endblock %}
{% block body %}
<div class="container_login_pass">
    <div class="text-center">
        <p>Login</p>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% elif message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% elif message.tags == 'warning' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% endif %}
                
                <div class="d-flex justify-content-between align-items-center">
                    <div class="message-content">
                        {{ message }}
                    </div>
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Fechar"></button>
                </div>
                <div class="progress" style="height: 4px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            {% endfor %}
        {% endif %}

        <form class="row gy-2 gx-3 align-items-center" method="POST" action="{% url 'login_passageiro' %}">
            {% csrf_token %}
            <div class="col-md-12">
                <label class="form-label" for="email">Email:</label>
                <div class="col-10 mx-auto">
                    <input type="email" class="form-control" id="email" name="email"
                    placeholder="Ex.: joaoribeiro@gmail.com" required>
                </div>
            </div>
            <div class="col-md-12">
                <label class="form-label" for "password">Senha:</label>
                <div class="col-10 mx-auto">
                    <input type="password" class="form-control" id="password" name="senha" placeholder="********"
                    required pattern=".{8,20}">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4 mx-auto">
                    <div class="form-check d-flex align-items-center">
                        <input class="form-check-input" type="checkbox" id="autoSizingCheck" required>
                        <label class="form-check-label ml-3" for="autoSizingCheck">
                            Lembrar-se de mim.
                        </label>
                    </div>
                </div>
            </div>
            <div class="botao_login_pass col-auto mx-auto">
                <button type="submit" id="liveAlertBtn" class="btn btn-primary botao-login" data-bs-toggle="modal" data-bs-target="#loadingModal">Entrar</button>
            </div>
            <div class="modal fade" id="loadingModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Carregando...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function checkRequiredFields() {
      // Verifique se os campos obrigatórios estão preenchidos e a caixa de seleção está marcada.
      const emailField = document.querySelector('#email');
      const passwordField = document.querySelector('#password');
      const checkbox = document.querySelector('#autoSizingCheck');
  
      if (emailField.value === '' || passwordField.value === '' || !checkbox.checked) {
        return false;
      }
  
      return true;
    }
  
    // Adicione um evento change aos campos obrigatórios e à caixa de seleção.
    const emailField = document.querySelector('#email');
    const passwordField = document.querySelector('#password');
    const checkbox = document.querySelector('#autoSizingCheck');
    const loginButton = document.querySelector('#liveAlertBtn');
    const alertPlaceholder = document.getElementById('liveAlertPlaceholder');
  
    emailField.addEventListener('change', updateLoginButton);
    passwordField.addEventListener('change', updateLoginButton);
    checkbox.addEventListener('change', updateLoginButton);
  
    // Verifique o estado dos campos quando o formulário for carregado.
    updateLoginButton();
    
    function updateLoginButton() {
      const isRequiredFieldsFilled = checkRequiredFields();
  
      if (isRequiredFieldsFilled) {
        loginButton.disabled = false;
      } else {
        loginButton.disabled = true;
      }
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Seletor para o alerta.
        var alert = document.querySelector('.alert');

        // Seletor para a barra de progresso.
        var progressBar = document.querySelector('.progress-bar');

        // Define o tempo em milissegundos (5 segundos).
        var tempoExibicao = 5000;

        // Função para diminuir a barra de progresso durante o tempo de exibição.
        var diminuirProgresso = function () {
            var inicio = new Date().getTime();
            var intervalo = 100; // Intervalo de atualização da barra de progresso (100ms).

            var animacao = function () {
                var agora = new Date().getTime();
                var decorrido = agora - inicio;
                var progresso = 100 - (decorrido / tempoExibicao) * 100;
                progressBar.style.width = progresso + '%';

                if (progresso > -10) {
                    requestAnimationFrame(animacao);
                } else {
                    // Quando o progresso atingir -25%, feche o alert.
                    alert.style.display = 'none';
                }
            };

            animacao();
        };

        diminuirProgresso();
    });

    document.addEventListener('DOMContentLoaded', function () {
        // ... (código anterior)

        var tempoExibicaoModal = 3000; // 10 segundos em milissegundos

        // Função para fechar o modal após o tempo de exibição.
        var fecharModal = function () {
            $('#loadingModal').modal('hide');
        };

        // Inicie o temporizador para fechar o modal após o tempo especificado.
        setTimeout(fecharModal, tempoExibicaoModal);
    });
</script>
  
{% endblock %}
