{% extends 'menu.html' %}
{% load static %}

{% block title %}Login - Motorista{% endblock %}
{% block h3 %}{% endblock %}
{% block body %}

<div class="container">
    <div class="caixa-formulario-login">
        <h2>Login</h2>
        <form class="row gy-2 gx-3 align-items-center" method="POST" action="{% url 'login_motorista' %}">
            {% csrf_token %}
            <div class="col-auto">
                <label class="form-label" for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email"
                    placeholder="Ex.: joaoribeiro@gmail.com" required>
            </div>
            <div class="col-auto">
                <label class="form-label" for="password">Senha:</label>
                <input type="password" class="form-control" id="password" name="senha" placeholder="********"
                    required pattern=".{8,20}">
            </div>
            <div class="col-auto">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="autoSizingCheck" required>
                    <label class="form-check-label" for="autoSizingCheck">
                        Lembrar-se de mim.
                    </label>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" value="entrar" class="btn btn-primary botao-login">Entrar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
