{% extends 'base.html' %}
{% load static %}
{% block title %}Página do Passageiro{% endblock %}
{% block menu %}
<div id="navbar">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light">
            <a class="navbar-brand" href="{% url 'pagina_passageiro' %}">
                <img src="{% static 'img/TokenTravel Logo 1.png' %}" class="img-fluid" alt="Logo" id="logobar">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pesquisa' %}">Rotas</a>
                    </li>
                    <li class="nav-item" class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Menu
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'menu_passageiro' %}">Minha Conta</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
{% if exibir_foto %}
<div class="containertutupassageiro">
    <div class="row">
        <div class="col mt-12">
            <p class="tutorial-title">Tutorial do Passageiro</p>
            <img class="img-fluid img-desktop" src="{% static 'img/TokenTravel Slide 2.png' %}" alt="Imagem Responsiva">
        </div>
    </div>
</div>
{% endif %}
{% endblock %}