{% extends 'menu.html' %}
{% load static %}
{% block title %}Portfólio{% endblock %}
{% block body %}
<div class="container py-5">
	<section id="sobre-a-empresa" class="container py-5">
		<h2 class="display-12 mb-12">Sobre a empresa</h2>
		<div class="row">
			<div class="col-md-12" id="portfoto01">
				<div class="card mb-12">
					<img src="{% static 'img/Portfólio imagem seção01.png' %}" alt="Foto do autor" class="card-img-top">
					<div class="card-body">
						<h4 class="card-title">Sobre a empresa</h4>
						<p class="card-text">A TokenTravel é uma empresa comprometida em simplificar e facilitar a vida das pessoas através de sua plataforma de agendamento de vans e táxis com motoristas confiáveis.
							Com a missão de oferecer um serviço simples e prático, a empresa se dedica a proporcionar uma experiência de transporte seguro, eficiente e confortável aos seus clientes. Além disso, a TokenTravel valoriza a transparência e a confiança em suas relações com motoristas e usuários, visando sempre a satisfação de todos os envolvidos em sua rede de serviços. Através de tecnologia de ponta e uma equipe de profissionais altamente capacitados, a empresa está comprometida em proporcionar uma experiência de transporte inigualável aos seus clientes.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="como-funciona" class="container py-5">
		<h2 class="display-4 mb-4">Como funciona</h2>
		<div class="row" id="portfoto02">
			<div class="col-md-4">
				<div class="card mb-4">
					<img src="{% static 'img/Portfólio imagem seção02.png' %}" alt="Projeto 1" class="card-img-top" id="imagem02">
					<div class="card-body">
						<h4 class="card-title">Cadastro e busca de motoristas</h4>
						<p class="card-text">A plataforma TokenTravel é fácil de usar, exigindo apenas o cadastro do usuário e a busca por motoristas cadastrados. Os usuários podem agendar uma viagem com antecedência.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4">
					<img src="{% static 'img/Portfólio imagem seção03.png' %}" alt="Projeto 2" class="card-img-top">
					<div class="card-body">
						<h4 class="card-title">Qualidade do serviço</h4>
						<p class="card-text">Todos os motoristas da plataforma são avaliados pelos usuários, garantindo a qualidade do serviço. Além disso, a plataforma oferece recursos de segurança, como verificação de antecedentes dos motoristas e acompanhamento ao vivo do trajeto do táxi pelo usuário.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4">
					<img src="{% static 'img/Portfólio imagem seção04.png' %}" alt="Projeto 3" class="card-img-top">
					<div class="card-body">
						<h4 class="card-title">Pagamento e preços competitivos</h4>
						<p class="card-text">Os usuários podem escolher entre várias formas de pagamento aceitas na plataforma TokenTravel. Além disso, os preços oferecidos pela plataforma são competitivos em relação aos serviços de táxi tradicionais.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="beneficios" class="container py-5">
		<h2 class="display-4 mb-4">Benefícios</h2>
		<div class="row">
			<div class="col-md-4" id="portfoto03">
				<div class="card mb-4">
					<img src="{% static 'img/Portfólio imagem seção05.png' %}" alt="Foto do autor" class="card-img-top">
					<div class="card-body">
						<h4 class="card-title">Benefícios</h4>
						<p class="card-text">Benefícios de utilizar a plataforma TokenTravel, como segurança, facilidade de uso e economia de tempo.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<footer class="container-fluid bg-dark text-white py-3">
	<p class="text-center mb-0">
		Desenvolvido por Lucas de Souza e Souza; Ruan Moraes de Assunção — &copy;Copyright, 2023.
		Contato: (91) 99826-4357; (91) 98281-7656.
		E-mail: lucas.souza5294@gmail.com; ruanmoraes012@gmail.com.
		Projeto TokenTravel.
		UFRA — Universidade Federal Rural da Amazônia.
		Endereço: Travessa Pau Amarelo, Bairro Vila nova, Capitão Poço — PA.
	</p>
</footer>
{% endblock %}