{% extends 'menu.html' %}
{% load static %}
{% block title %}Pesquisa{% endblock %}
{% block body %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<div class="container mt-4 bg-white rounded">
    <h3 class="mb-4">Rotas disponíveis</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Origem</th>
                <th scope="col">Destino</th>
                <th scope="col">Partida</th>
                <th scope="col">Motorista</th>
                <th scope="col">Preço</th>
                <th scope="col">Distância</th>
                <th scope="col">Tempo Estimado</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>
        <tbody>
            {% for rota in rotas %}
            <tr>
                <td>{{ rota.origem }}</td>
                <td>{{ rota.destino }}</td>
                <td>{{ rota.horario_ida }}</td>
                <td>{{ rota.motorista.nome_preferencia }}</td>
                <td>{{ rota.preco }}</td>
                <td>{{ distancia_km }} KM</td>
                <td>{{ duracao_horas }}H:{{ duracao_minutos }}M</td>
                <td>{{ rota.tipo_veiculo }}</td>
                <td><a href="{% url 'login_passageiro' %}" class="btn btn-success"><img src="{% static 'img/whatsapp_logo.png' %}" alt="WhatsApp"></a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="bg-white">Nenhuma rota cadastrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if rotas %}
<div id="map" style="height: 500px; width: 50%; margin: 0 auto;" data-lat-origem="{{ lat_origem }}" data-lng-origem="{{ lng_origem }}" data-lat-destino="{{ lat_destino }}" data-lng-destino="{{ lng_destino }}"></div>
{% endif %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}