{% extends 'menu.html' %}
{% load static %}
{% block title %}Termos de Uso - TokenTravel{% endblock %}
{% block body %}

<div class="container container bg-white rounded mt-4">
     <h1><br> Termos de Uso
         <br> 1. Cadastro no TokenTravel</h1>
    <h5>    1.1 Ao se cadastrar no TokenTravel, você concorda em fornecer informações precisas, atuais e completas sobre si mesmo, conforme solicitado no processo de registro.</h5>
    <h5>    1.2 Os usuários são responsáveis por manter a confidencialidade de suas credenciais de login e são inteiramente responsáveis por todas as atividades que ocorrem em suas contas.</h5>
    <h1>    2. Compartilhamento de Rotas</h1>
    <h5>    2.1 Os motoristas têm a responsabilidade de criar rotas precisas, seguras e em conformidade com as leis locais de trânsito.</h5>
    <h5>    2.2 Os passageiros reconhecem que o TokenTravel é um facilitador para o compartilhamento de rotas entre usuários e não se responsabiliza por quaisquer incidentes durante a viagem.</h5>
    <h1>    3. Comunicação via WhatsApp</h1>
    <h5>    3.1 O serviço permite que os passageiros se comuniquem com os motoristas através do WhatsApp. Os usuários concordam em utilizar essa funcionalidade de forma responsável, respeitando as diretrizes de comunicação do TokenTravel.</h5>
    <h5>    3.2 O TokenTravel não armazena conversas de WhatsApp entre usuários. A comunicação ocorre fora da plataforma, e os usuários devem estar cientes das políticas de privacidade do WhatsApp.</h5>
    <h1>    4. Responsabilidades do Motorista e Passageiro</h1>
    <h5>    4.1 Os motoristas são responsáveis por manter seus veículos em condições adequadas, garantindo a segurança dos passageiros durante a viagem.</h5>
    <h5>    4.2 Os passageiros devem seguir as orientações dos motoristas, respeitar as regras estabelecidas e contribuir para um ambiente seguro e amigável.</h5>
    <h1>    5. Alterações nos Termos de Uso</h1>
    <h5>    5.1 Reservamo-nos o direito de fazer alterações nos Termos de Uso do TokenTravel. Os usuários serão notificados sobre mudanças significativas, e é responsabilidade deles revisar periodicamente os termos atualizados.</h5>
    <h1><br> Política de Privacidade <br>
            1. Informações Coletadas</h1>
    <h5>    1.1 Durante o cadastro, o TokenTravel coleta informações pessoais, como nome, endereço de e-mail, número de telefone e preferências de viagem.</h5>
    <h5>    1.2 Além das informações fornecidas pelos usuários, o TokenTravel pode coletar dados automaticamente, como endereço IP, tipo de navegador, data e hora de acesso.</h5>
    <h1>    2. Uso de Informações</h1>
    <h5>    2.1 As informações coletadas são utilizadas para personalizar a experiência do usuário, facilitar o compartilhamento de rotas, melhorar o serviço e fornecer suporte ao cliente.</h5>
    <h5>    2.2 O TokenTravel pode utilizar cookies e tecnologias semelhantes para melhorar a funcionalidade do site e coletar informações sobre o uso do serviço.</h5>
    <h1>    3. Compartilhamento de Informações</h1>
    <h5>    3.1 As informações dos usuários não serão compartilhadas com terceiros sem o consentimento expresso do usuário, exceto quando exigido por lei.</h5>
    <h5>    3.2 O TokenTravel pode compartilhar informações de forma agregada e anônima para fins estatísticos e de análise.</h5>
    <h1>    4. Segurança</h1>
    <h5>    4.1 São implementadas medidas de segurança, como criptografia de dados, para proteger as informações dos usuários. No entanto, nenhum método de transmissão pela internet ou armazenamento eletrônico é totalmente seguro.</h5>
    <h1>    5. Alterações na Política de Privacidade</h1>
    <h5>    5.1 Reservamo-nos o direito de fazer alterações na Política de Privacidade do TokenTravel. Mudanças significativas serão comunicadas aos usuários por meio de notificações no site ou por outros meios apropriados.</h5>

</div>

{% endblock %}
