{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Buscador</title>
</head>
<body>
    <form>
        <div>
            <label>Seu endereço: </label>
            <input type="text" name="end_inicial" id="end_inicial">
        </div>
        <div>
            <label>Seu destino: </label>
            <input type="text" name="end_final" id="end_final">
        </div>
        <div>
            <input type="submit" value="Buscar" id="Buscar">
        </div>
    </form>
</body>
</html>