{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block body %}
    <h1>Login</h1>
    <form id="login">
        <div class="mb-3" id="inputEmail">
            <label for="exampleInputEmail1" class="form-label">Entre com seu E-mail:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelpInLine" class="form-text">
                Suas credenciais jamais serão divulgadas.
            </div>
        </div>
        <div class="mb-3" id="inputPass">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Senha:</label>
            </div>
            <div class="col-auto">
                <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    Deve ter 8-20 caracteres.
                </span>
            </div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Verificar</label>
        </div>
        <button type="submit" class="btn btn-primary" style="margin: 10px">Enviar</button>
    </form>
{% endblock %}