{% extends 'menu.html' %}
{% load static %}


{% block title %}Login{% endblock %}
override
{% block h3 %}{% endblock %}
{% block body %}
    <div class="caixa-formulario-login">
        <h2>Login</h2>
        <form class="row gy-2 gx-3 align-items-center">
            <div class="col-auto">
                <label class="form-label" for="login-email">Email:</label>
                <input type="email" class="form-control" id="login-email" placeholder="Ex.: joaoribeiro@gmail.com">
            </div>
            <div class="col-auto">
                <label class="form-label" for="login-password">Senha:</label>
                <div class="input-group">
                    <div class="input-group-text"></div>
                        <input type="text" class="form-control" id="login-password" placeholder="********" required pattern=".{8,}">
                    </div>
            </div>
            <div class="col-auto">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                    <label class="form-check-label" for="autoSizingCheck">
                        Lembrar-se de mim.
                    </label>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary botao-login">Entrar</button>
            </div>
        </form>
    </div>
{% endblock %}
