a {
    color: #800080;
    font-family: "Courier New";
    font-size: larger;


<!--position: absolute;
    top: 400px;
    left: 70px;  -->

}
h1 {
    color: Brown;
    font-family: "Segoe Script";
    font-size: 100px;
    margin-left: 30px;
}
body {
    background-color: #00CED1;
}

form#buscador input {
    width: 400px;
}

form#buscador button {
    position: absolute;
    top: auto;
    left: 328px;
}

form#cadastro input {
    width: 400px;
}

div#tel input {
    width: 200px;
}

div#pass input {
    width: 200px;
}

form#cadastro button {
    position: absolute;
    top: auto;
    left: 300px;
}

div#inputEmail input {
    width: 400px;
}

div#inputPass input {
    width: 200px;
}

form#login button {
    position: absolute;
    top: auto;
    left: 320px;
}